{{#each articles}}
<h2>{{ this.title }}</h2>
<h5>By <em>{{this.email}}</em></h5>
<h5>Posted <em>{{this.posted}}</em></h5>
<div>
    <img src="https://paf-2019-example.sgp1.digitaloceanspaces.com/articles/{{this.image_url}}" alt="" height="100px">
</div>
{{/each}}